<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="url" value="hiii"></parameter>
<parameter name="url1" value="good"></parameter>
  <test thread-count="5" name="personal">
    <classes>
      <class name="paremeter.parameter"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
